/*

Here's some colours for you :)
HAPPY CODING!

Blue:       #53E1DE
Lightgray:  #F9F9F9
Black:      #1A1A1A
Purple:     #E5118B
White:		#FFFFFF

*/

/* GENERAL ATTRIBUTES */

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background-color: #F9F9F9;
}
h1,h2,h3,h4 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.container {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* HERO */

.hero-image {
	width: 200px;
	border-radius: 100%;
	border: 2px solid #fff;
}
.hero-wrapper {
	background-image: url('../img/code.jpg');
	background-size: cover;
	color: #FFF;
	height: 600px;
}

/* EVENTS */



/* NEWS */

.header {
	background-color: #53E1DE;
	padding: 10px;
}

.article {
	background-color: #ffffff;
}
.content {
	padding: 10px;
}

/* TRACKS */

.dot {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: #1A1A1A;
}

.dot.purple {
	background-color: #E5118B;

}


#info {
	margin-top: 60px;
	margin-bottom: 60px;
}

#news, #tracks {
	margin-bottom: 60px;
}
